@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(249, 241, 241, 0.721);
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 75px;
    background-color: rgba(249, 241, 241, 1);
    box-shadow: -1px 6px 13px 0px rgba(74, 74, 74, 0.44);
    z-index: 999999;
    gap: 25px;
    user-select: none;
}

.icons {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    top: 25px;
    right: 25px;
}


.logo {
    position: absolute;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    left: 5px;
}

.look {
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 35px;
    max-height: 35px;
    text-align: center;
    background-color: rgba(143, 141, 141, 0.209);
    outline: none;
    border: none;
    text-align: center;
    border-radius: 7px;
}

input[name='search']{
    width: 225px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.fa-magnifying-glass {
    position: absolute;
    margin-top: 10px;
    margin-left: -215px; 
    cursor: text;
}

.fa-plus {
    border: 3px solid black;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 125px;
}

.relations {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 6px;
    margin: 10px;
    height: 100px;
    background-color: rgba(249, 241, 241, 0.721);
    box-shadow: -1px 6px 13px 0px rgba(74, 74, 74, 0.44);
    border: 1px solid rgb(202, 202, 202);
    user-select: none;
    overflow: hidden;
}


.relation img{
    width: auto;
    max-width: 60px;
    height: auto;
    min-height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(231, 100, 7);
}

article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 585px;
    background-color: rgba(249, 241, 241, 0.721);
    box-shadow: -1px 8px 13px 0px rgba(53, 53, 53, 0.44);
}

.people {
    width: auto;
    height: auto;
    position: relative;
    font-size: 20px;
    left: 5px;
    margin: 5px;
    user-select: none;
}

.people-title {
    position: absolute;
    top: 30px;
    left: 80px;
    cursor: pointer;
}

.people-img img{
    width: 100%;
    max-width: 60px;
    height: auto;
    min-height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(231, 100, 7);
    margin: 10px;
    cursor: pointer;
}

.people-interact {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}

.post-img {
    width: 100%;
    height: auto;
    min-height: 350px;
}

.post-img img{
    width: 100%;
    height: auto;
    user-select: none;
}

.post-interact {
    display: block;
    width: 100%;
    height: auto;
}

.interact-icons {
    font-size: 25px;
    padding-left: 15px;
}

.like {
    margin-top: 10px;
    padding-left: 15px;
}

.titlet {
    margin-top: 5px;
    padding-left: 15px;
}

.timep {
    margin-top: 5px;
    padding-left: 15px;
}

.comment {
    margin-top: 25px;
    border-top: 1px solid black;
    display: block;
}

.comment-emoji {
    font-size: 25px;
}

.fa-face-grin {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 30px;
    float: left;
}

.commentnumber {
    margin-top: 5px;
    padding-left: 15px;
}


.comment-text {
    float: left;
    width: 75%;
    margin-top: 2px;
    margin-left: 5px;
}

.comment-send {
    float: left;
    margin-top: 7px;
    font-weight: 600;
    font-size: 17px;
    padding-left: 2px;
    color: rgb(20, 168, 222);
}


input[name='commenti'] {
    background-color: rgba(249, 241, 241, 0.721);
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    font-size: 16px;
}

@media(max-width: 900px){
    .look, .fa-magnifying-glass {
        display: none;
        opacity: 0;
    }
    .comment-text {
        width: 65%;
    }
    .box {
        min-height: 545px;
    }
}

@media(max-width: 350px){
    .logo {
        opacity: 0;
    }
    .relations {
        overflow-x: auto;
    }
}